@import './src/index.scss';

.section-blogItem {
  padding: 15rem 0;

  // &__section-blogItem__row {
  //   margin: 0 auto;
  // }

  &__image {
    width: 10%;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(#000, .15);
  }

  &__container--box {
    margin: 10rem;
    text-align: center;
  }

  &__box {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8rem;

    @include respond(phone) {
      width: 80%;
    }
  }

  &__tags {
    border: 1px solid rgb(69, 255, 115);
    display: inline-block;
    margin: 2rem;
    color:  rgb(69, 255, 115);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }

  &__header--two {
    border: 1px solid #000;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 7rem;
    text-shadow: .5rem 1rem 2rem rgba(#000, .2);
  }

  &__paragraph--one {
    font-size: 2rem;
    margin-top: 2rem;
   
  }

  &__header--three {
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1rem;
    border-bottom: 1px solid #000;
    text-align: center;
    display: block;
  }
}

.credit {
  text-align: center;
}

.sidebar {
  position: fixed;
  width: 6rem;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  color: #fff;
}

.sidebar .item {
  height: 5.5rem;
  position:relative;
}
.sidebar .item .link {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 5rem;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
}

.sidebar .item:nth-child(1) a{
  background: #4267B2;
}

.sidebar .item:nth-child(2) a{
  background: #1DA1F2;
}

.sidebar .item:nth-child(3) a{
  background: #E1306C;
}

.sidebar .item:nth-child(4) a{
  background: #2867B2;
}

.sidebar .item:nth-child(5) a{
  background: #333;
}

.sidebar .item:nth-child(6) a{
  background: #ff0000;
}

.sidebar .item .link i{
  position:absolute;
  top: 1.7rem;
  left: 2rem;
  font-size: 2rem;
}

.link {
  backface-visibility: hidden;
  transition: all 1s;
}

.link:hover {
  z-index:1;
  transform: translateY(-6px);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
