@import './src/index.scss';

.section-card {
  width: 95%;
  margin-bottom: 5rem;
}

.section-relatedBlog {
  &__header--two {
    font-size: 3rem;
    color: #000;
    border-bottom: 2px solid $main-color;
    margin-top: 15rem;
    display: inline-block;
    text-align: center;
  }
}

.center {
  text-align: center;
}

