//colors
$main-color:  #6e88e6;
$secondary-color: #333;
$color-white: #fff;
$color-grey: #f7f7f7;
$color-black: #1b2025;
$color-bluish: #8c93bd;

$other-color: #ffb900;
$other-color2: #ff7738;

$other-color3: #93a8f3;
$other-color4: #5372e2;

$other-color5: #66c485;
$other-color6:  #417e55;

//font
$default-font: 1.6rem;

//grid
//initially it was 114rem
$grid-width: 118rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$horrizontal-gutter: 6rem;