//colors
$main-color:  #229ff1;
$secondary-color: #333;
$color-white: #fff;
$color-grey: #f7f7f7;
$color-black: black;

$other-color: #ffb900;
$other-color2: #ff7738;

$other-color3: #2998ff;
$other-color4: #5643fa;

$other-color5: #66c485;
$other-color6:  #417e55;

//font
$default-font: 1.6rem;

//grid
//initially it was 114rem
$grid-width: 118rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$horrizontal-gutter: 6rem;