.section-privacy {
  padding: 17rem 14rem;
  line-height: 1.7;
  font-size: 1.4rem;
  color: #000;
  

  &__header--one {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__header--two {
    margin-bottom: 2rem;
  }
  &__header--three {
    margin: 3rem 0 2rem 0;
  }
}
