@import './src/index.scss';

.section-privacy {
    padding: 20rem 0;
    width: 70%;
    margin: auto;
    color: #1b2025;

    @include respond(phone) {
        width: 95%;
      }
}

.privacy-policy {
    font-size: 2.8rem;
    &__paragraph {
        margin: 2rem 0;
        font-size: 1.4rem;
    }
}

.strong {
    font-weight: bolder;
    font-size: 1.5rem;
}

a.privacy-link {
    color: $color-white;
    text-decoration: none;
    margin: 2rem .7rem;
}

.privacy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
