@import './src/index.scss';

.section-book {
  padding: 25rem 3rem 15rem  3rem;
  color: #1b2025;
  position: relative;
  @include respond(phone) {
    padding: 13rem 3rem;
    background-image: url('img/contact.jpg');
  }
}

.contact-section {
  display: flex;
  height: 70rem;;
  max-width: 110rem;
  margin: auto;
  box-shadow: 0 2.5rem 4rem rgba($secondary-color, .5);
  border-radius: 4rem;
  
}

.side-section {
  flex: 0 0 50%;
  background: #fdfdfd;
  // background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .8) 100%), url('img/skyooo.jpg');
  background-size: cover;
  
  &__paragraph {
    font-size: 1.4rem;
    color: #32353b;
  }

  &__container1 {
    display: flex;
    margin-top: 3rem;
    padding: 0 4rem 0 4rem;
    align-items: center;
  }

  &__icon {
    font-size: 5rem;
    padding: 1rem; 
    margin-bottom: 2rem;
  }

  &__header-three {
    font-size: 1.6rem;
  }

  &__email {
    font-size: 1.5rem;
  }
}

.contact-form {
  flex: 1;
  background: #fff;
  padding: 5rem;
  box-shadow: 0 2.5rem 3rem rgba($secondary-color, .5);
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 2.5rem 0;
  border: 0;
  background:#f7f7f7;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
  font-size: 1.6rem;
}  

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.label {
  font-size: 2rem;
  font-weight: bolder;
  color:  #1b2025;
}

.booking-header {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.booking-paragraph {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.sizing {
  font-size: 2rem;
}

.asterisk {
  color: red;
}

.booking {
  margin-bottom: rem;
}

.removing {
  @include respond(phone) {
    display: none;
  }
}

.mobile-header {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  // opacity: .9; 
  overflow: hidden;

  @include respond(phone) {
    display: none;
  }

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include respond(phone) {
      display: none;
    }
  }

  &__source {
    @include respond(phone) {
      display: none;
    }
  }
}
