@import './src/index.scss';

.bottom {
    box-shadow: 0px -1px 13px -5px;
    padding: 5rem 0 0 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__item {
        text-decoration: none;
        font-size: 2rem;
        margin-left: 1rem;
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 10rem;
        text-align: center;
    }
}