@import './src/index.scss';

.section-features {
  padding: 20rem 3rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../img/feature.svg);
  background-size: cover;
  background-position: center;
  transform: skewY(0deg);
  position: relative;
  color: $color-black;
}

.feature-box {
  background-color: rgba($color-white, .8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 4px;
  transition: all .3s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 3.5rem;
    color: $main-color;

    @include respond(tab-port) {
      margin-bottom: 10rem 0;
    }
  }

  &__text {
    color: #32353b;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}