@import './src/index.scss';

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    // WAS 50 REM
   max-width: 80rem;
  }

  @include clearfix();

  //select all
  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $horrizontal-gutter;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$horrizontal-gutter}) / 2);
  }
}

//second row 
.row2 {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
   max-width: 50rem;
  }

  @include clearfix();

  //select all
  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $horrizontal-gutter;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 50% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$horrizontal-gutter}) / 2);
  }
}


//Section About
.section-about {
  background-color: $color-grey;
  padding: 2rem 3rem 20rem 3rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // background-image: linear-gradient(to right, $main-color, $secondary-color);
  display: inline-block;
  // -webkit-background-clip: text;
  // color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  margin-top: 15rem;
  color: #1b2025;

  &::after {
    content: '';
    height: 2px;
    width: 100px;
    display: block;
    background-color: $main-color;
    margin: 0 auto;
    margin-top: 10px;
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scaleX(1.1);
    text-shadow: .5rem 1rem 2rem rgba($secondary-color, .2);
  }
}

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    color: $secondary-color;
    font-size: $default-font;
    color: $main-color;
    border-bottom: 1px solid $main-color;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    color: $color-white;
    background-color: $main-color;
    box-shadow: 0 1rem 2rem rgba($secondary-color, .15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 2rem rgba($secondary-color, .15);
    transform: translateY(0);
  }
}

ion-icon {
  // background-image: linear-gradient(135deg,pink,#e83e8c 150%);
  color: $main-color;
  font-size: 2.3rem;
  margin-left: .4rem;
}

.heading-secondary2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $main-color, $secondary-color);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.headline-container {
  text-align: center;
}

.first-paragraph {
  font-size: 1.7rem;
  margin: 2rem 0 11rem 0;
}

.about {
  &__services1 {
    background: $color-white;
    border-radius: 1rem;
    padding: 3rem;
    height: 33rem;
    box-shadow: 0 2.5rem 2rem rgba($secondary-color, .25);
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      transform: translateY(-3rem);
    }
  }

  &__headerthree {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
  }

  &__paragraph {
    font-size: 1.3rem;
  }

  &__skills {
    font-size: 1.1rem;
    margin-top: 2rem;
  }

  &__header4 {
    margin-top: 2rem;
  }

  &__header4 {
    font-size: 1.7rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 3px solid $main-color;
  }
}

.about-img {
  margin-top: 3rem;
}
