@import './src/index.scss';

.section-stories {
  padding: 0 0 20rem 0;
  background-color: $color-grey;
 

  @include respond(tab-port) {
   padding: 0 0 20rem 0;
  }

  @include respond(phone) {
    padding: 0 5rem 20rem 5rem;
  }

  &__image {
    width: 100%;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid $main-color;

    @include respond(tab-port) {
      width: 20%;
     }
  }

  &__container--two {
    margin-left: 2rem;
    @include respond(tab-port) {
      margin-left: 2rem;
     }
  }

  &__header--three {
    color: #212529;
  }
}

.story {
  margin: 0 auto;
  //75% for mobile or less
  width: 75%;
  background-color: $color-white;
  box-shadow:  0 2rem 6rem rgba(0, 0, 0, .3);
  padding: 8rem;
  border-radius: 3px;
  font-size: 1.6rem;
  line-height: 1.7;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;


  @include respond(tab-port) {
    width: 100%;
    padding: 5rem;
    flex-direction: column;
    //75% for mobile or less
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }

  &__img {
    height: 100%;
  }
}

.story-p {
  color: #32353b;
}

