@import './src/index.scss';

.section-stories {
  padding: 0 0 11rem 0;
  position: relative;
  background-color: $color-grey;
 

  @include respond(tab-port) {
   padding: 0 0 11rem 0;
  }

  @include respond(phone) {
    padding: 0 5rem 0 5rem;
  }

  &__image {
    width: 80%;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid $main-color;

    @include respond(tab-port) {
      width: 20%;
     }
  }

  &__container--two {
    @include respond(tab-port) {
      margin-left: 2rem;
     }
  }

  &__header--three {
    color: $color-black;
  }
}

.story {
  margin: 0 auto;
  //75% for mobile or less
  width: 95%;
  background-color: $color-white;
  box-shadow:  0 2rem 6rem rgba(0, 0, 0, .3);
  padding: 10rem;
  border-radius: 3px;
  font-size: 1.6rem;
  line-height: 1.7;
  position: relative;
  font-weight: 300;
  display: flex;


  @include respond(tab-port) {
    width: 100%;
    padding: 5rem;
    flex-direction: column;
    //75% for mobile or less
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }

  &__img {
    height: 100%;
  }
}


// .bg-video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   z-index: -1;
//   opacity: .3; 
//   overflow: hidden;

//   &__content {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;

//   }

// }


