@import './src/index.scss';

.video {
  @include respond(phone) {
    position: relative;
  }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    // opacity: .9; 
    overflow: hidden;
  
    @include respond(phone) {
      position: relative;
      display: none;
      height: 0;
      width: 0;
    }
  
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
  
      @include respond(phone) {
       display: none;
      }
    }
  }
  