@import './src/index.scss';

.logo2 {
    display: none;

    @include respond(phone) {
      display: block;
      position: absolute;
      top: 2.3rem; 
      left: 3.3rem;
      }

      &__image {
        height: 10rem;
      }
}