@import './src/index.scss';

.footer {
  background-color: #1b2025;
  padding: 5rem;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
  }

  &__terms {
    display: flex;
    
    justify-content: center;
  }

  &__privacy {
    text-decoration: none;
  }

  &__link {
    color: white !important;
    text-decoration: none;
    margin: 0 1.2rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    color: white !important;
  }

  &--two {
    padding: 2rem;
    cursor: pointer;
  }

  &__navigation {
    border-top: 1px solid $color-grey;
    padding-top: 8px;
    width: 80%;
  }


  &__item {
    list-style: none;
  }

 &__links {
   text-decoration: none;
   border-top: 1px solid $color-white;
   width: 40%;
   padding-top: 1rem;
   margin-left: 7rem;
 }

 &__icons {
   float: left;
   color: $color-white;
   margin-left: 3rem;
   font-size: 2.4rem;
 }

  &__copyright {
    color: #ffff;
    width: 80%;
    float: right;
    border-top: 1px solid #f7f7f7;
    padding-top: 8px;
  }
}

.achor:link,
.achor:visited {
  text-decoration: none;
  color: $main-color;
  margin: 1.5rem;
  border-bottom: 2px solid $main-color;
  
}

.achor:hover {
  border-bottom: none;
}

