@import './src/index.scss';

.section-blog {
  padding: 16rem 0 0 0;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/resources.png');
  background-position: center;
  background-size: cover;
  // height: 95vh;
  color: #1b2025;
  
  &__box {
    color: #f7f7f7;
    margin: 0;
    text-align: center;
  }
  
  &__header--one {
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 5rem;
    text-align: center;
    color: #1b2025;
  }

&__header--three {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1b2025;
}

  &__paragraph {
    font-size: 1.7rem;
    margin-top: 3rem;
    color: #616161;
  }

  &__other {
    padding: 6rem 0;
  }

  &__card {
    height: 55rem;
    padding: 2rem;
    transition: all 0.5s ease;
    border-radius: 1rem;
    box-shadow: 0 2.5rem 4rem rgba($secondary-color, .15);

    @include respond(phone) {
      height: 60rem;
    }

    &:hover {
      transform: translateY(-2rem);
      opacity: 0.8;
      
    }
  }
}

a:link,
a:visited {
  color: #333;
}

.grid-columns {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.4rem;
  padding: 0 0 18rem 0;

  @include respond(tab-port) {
    width: 85vw;
    grid-template-columns: 1fr 1fr;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    width: 90vw; 
  }
}


.newsletter-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-paragraph {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: italic;
}