@import './src/index.scss';

.section-resources {
    padding: 20rem 0;
    color: #32353b;
}

.resources-header-two {
    border-bottom: 2px solid $main-color;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;   
}

.content {
    box-shadow : 0 2.5rem 5rem rgba($secondary-color, .25);

    &__display {
        display: flex;
        margin: 0 0 6rem 0;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            flex-direction: column;
          }
        
    }

    &__all {
        padding: 4rem;
    }

    &__img {
        width: 600px;
        margin-left: 2rem;

        @include respond(phone) {
            margin-left: 0;
          }
    }

    &__img2 {
        width: 800px;
    }

    
    &__header-three {
        font-size: 1.7rem;
    }

    &__paragraph {
        font-size: 1.2rem;
    }

    &__header-one {
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    &__paragraph1 {
        font-size: 1.8rem;
        line-height: 1.9;
    }
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resource-btn {
    margin-top: 3.5rem;
}


.content2 {
    height: 69rem;
}