@import './src/index.scss';

.section-tours {
  padding: 10rem 3rem 18rem 3rem;
  
  // @include respond(tab-port) {
  //   padding: 13rem 3rem 18rem 3rem;
  //  }
}

.prices {
  box-shadow: 0 1rem 1rem rgb(165, 164, 164);
  height: 59rem;

  @include respond(tab-port) {
    height: 65rem;
   }
  
  
  
  &__container {
    background-color: #f7f7f7;
    padding-top: 3rem;
    text-align: center;
    color: $color-white;
  }

  &__container1 {
    background:red i !important;
  }

  &__paragraph {
    font-size: 1.8rem;
    margin: .6rem 0;
  }

  &__img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }

  &__img1 {
    width: 33%;
  }

  &__img3 {
    width: 30%;
  }

  &__header-three {
    font-size: 6rem;
    font-weight: lighter;
  }

  &__paragraph1 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: bolder;
  }

  &__content {
    padding: 2rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  color: black;
  font-weight: bolder;
  margin-right: .2rem;
}

.container1 {
  background-image: linear-gradient($other-color4, $main-color);
}

.container2 {
  background-image: linear-gradient($other-color, $other-color2);
}

.container3 {
  background-image: linear-gradient($other-color5, $other-color6);
}

.paragraph-heading {
  font-size: 2.2rem;
  margin-top: 2rem;
  color: grey;
}