@import './src/index.scss';

.section-endorse {
  color: #000;
  padding: 25rem 0 12rem 0;

  border-top: 1px solid rgba(0, 0, 0, 3.06);
  box-shadow: rgba(19, 15, 235, 0.1) 2px 4px 15px 0px;
  transition: box-shadow 0.4s ease-in-out 0s;
  margin-top: -30vh;

  @include respond(tab-port) {
    padding: 32rem 0 25rem 0;
  }

  @include respond(phone) {
    background: #fff;
    border-top: 0;
    display: inline-block;
    margin-top: 3rem;
    padding: 5rem 0 5rem 0;
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: rgb(95, 95, 95);

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__image {
    color: $color-white;
    margin-left: 6rem;
    width: 17%;

    @include respond(tab-port) {
      margin-left: 0;
      width: 20%;
    }

    @include respond(phone) {
      width: 20%;
      margin: 0 1rem 0 1rem;
    }
  }
}


