@import './src/index.scss';

.section-endorse {
  color: $color-black;
  padding: 6rem 0 2rem 0;
  transition: box-shadow 0.4s ease-in-out 0s;
  box-shadow: 0 9.5rem 9rem rgba($secondary-color, .25);

  @include respond(tab-port) {
    padding: 3rem 0 1rem 0;
  }

  @include respond(phone) {
    background: $color-white;
    padding: 5rem 0 1rem 0;
  }

  &__paragraph {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    color: $color-black;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__image {
    margin-left: 6rem;
    width: 15%;
    border-radius: 10px;
    padding: 4rem;
    color: black !important;
   

    @include respond(tab-port) {
      margin-left: 2rem;
      width: 20%;
    }

    @include respond(phone) {
      width: 29%;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}

.resize2 {
  width: 25%;

  @include respond(tab-port) {
    width: 38%;
  }

  @include respond(phone) {
    width: 45%;
  }
}

