@import './src/index.scss';

.section-endorse {
  color: $color-black;
  padding: 12rem 0 12rem 0;
  transition: box-shadow 0.4s ease-in-out 0s;

  @include respond(tab-port) {
    padding: 10rem 0 12rem 0;
  }

  @include respond(phone) {
    background: $color-white;
    margin-top: 0;
    padding: 5rem 0 5rem 0;
  }

  &__paragraph {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    color: $color-black;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__image {
    margin-left: 6rem;
    width: 17%;
    border-radius: 10px;
    padding: 4rem;
    box-shadow: rgba(19, 15, 235, 0.1) 2px 4px 25px 0px;
    color: black !important;
   

    @include respond(tab-port) {
      margin-left: 2rem;
      padding: 2rem;
      width: 20%;
    }

    @include respond(phone) {
      width: 21%;
      margin: 0 1rem 0 1rem;
    }
  }
}


