@import './src/index.scss';

.section-work {
  padding: 14rem  0;
  color: #000;
  

  &__box {
    padding: 0 4rem 0 4rem;
    
  }

  &__header--one {
    text-transform: uppercase;
    font-style: bold;
  }

  &__one {
    display: block;
    font-size: 3.4rem;
  }

  &__two {
    display: block;
    font-weight: 300;
    font-size: 2.8rem;
  }

  &__paragraph {
    margin-bottom: 5rem;
  }
}

.work-header-two {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.work-header {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.work-paragraph {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.work-images {
  box-shadow:  0 1rem 3rem rgba(0, 0, 0, .3);
}